
:root{
  display: flex;
  justify-content: center;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.img-card{
  height: auto;
  width: 15em;
  border-style:groove;
  border-color:rgb(210, 168, 30);
  border-radius: 10%;
  background-color: rgb(24, 26, 28);
}
.caption{
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: goldenrod;
}



